.Button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0057C3;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0 35px;
    transition: all 0.3s ease-in-out;
    gap: 10px;
    opacity: 0.8;
}

.Button:hover {
    opacity: 1;
}

.Button svg path {
    transition: all 0.3s ease-in-out;
}