 .section {
     /* width: calc(100% - var(--menu-width)); */
     width: 100%;
     min-width: 1000px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 30px;
     padding: 30px;
     overflow: hidden;
     position: relative;
 }

 .section_top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .section_searchAndFilter {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
 }

 .mainSearch {
     width: 500px;
 }

 .filter_wrapper {
     display: inline-flex;
     gap: 10px;
     border-radius: 10px;
     padding: 4px;
 }

 .filter_wrapper button {
     font-size: 16px;
     padding: 10px 20px;
     margin-right: 5px;
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 10px;
     background-color: #E4E4EF;
     color: #545873;
     opacity: 0.5;
     transition: all 0.3s ease-in-out;
     outline: none;
 }

 .filter_wrapper button:hover {
     background-color: #E4E4EF;
     color: #545873;
     opacity: 1;
 }

 .activeButton {
     background-color: #E4E4EF !important;
     color: #545873 !important;
     opacity: 1 !important;
 }

 @media (min-width: 0px) and (max-width: 1299px) {}