 .section {
     /* width: calc(100% - var(--menu-width)); */
     width: 100%;
     min-width: 1000px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 30px;
     padding: 30px;
     overflow: hidden;
     position: relative;
 }

 .section_top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .section_searchAndFilter {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
 }

 .mainSearch {
    width: 500px;
 }

 .filter_wrapper {
     flex: 1;
     display: flex;
     gap: 10px;
 }

 .filter_wrapper button {
     padding: 10px 20px;
     background-color: transparent;
     border: 1px solid #54587380;
     outline: none;
     border-radius: 10px;
     font-size: 14px;
     color: #545873;
     cursor: pointer;
     transition: all ease-in-out 0.3s;
 }

 .filter_wrapper button:hover {
     background-color: #e4e4efbd;
     border: 1px solid transparent;
     transition: all ease-in-out 0.3s;
 }

 .activeButton {
     background-color: #E4E4EF !important;
     border: 1px solid transparent !important;
     transition: all ease-in-out 0.3s;
 }

 @media (min-width: 0px) and (max-width: 1299px) {}