.requestTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 30px;
    border-bottom: 1px solid #54587380;
}

.requestButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 30px;
    border-top: 1px solid #54587380;
}

.requestTitle_name {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.73px;
    color: var(--text);
}

.requestTitle_close {
    cursor: pointer;
}

.requestTitle_close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tabs {
    display: flex;
    gap: 30px;
    padding: 20px 20px 20px 30px;
}

.tab {
    cursor: pointer;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    border-bottom: 5px solid transparent
}

.activeTab {
    border-bottom: 5px solid #54587380;
}

.requestData {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 30px;
    gap: 15px;
}

.requestData label {
    display: flex;
    gap: 15px;
}

.requestData input,
select {
    height: 40px;
    outline: none;
    padding: 0 10px;
}

.requestData select {
    cursor: pointer;
}

.requestData textarea {
    height: 150px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--text-gray);
    border-radius: 10px;
}

.requestMiddle {
    height: calc(100% - 90px - 71px);
    overflow: hidden;
    overflow-y: auto;
}

.reis_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.reis_info input {
    width: 50%;
}

.checks {
    display: flex;
    justify-content: space-between;
}

.checks label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.requestButton {
    display: flex;
    justify-content: flex-end;
}

.requestButton button {
    width: 49%;
}

.titleLabel {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}

.imageList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* row-gap: 5px; */
    /* flex-direction: column; */
    gap: 2px;
}

.imageItem {
    padding: 5px;
    flex-basis: 33%;
    height: 130px;
    /* width: 90%; */
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.imageItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.selected {
    background-color: var(--blue);
}

.disImage {
    opacity: 0.5;
}

/* Контейнер для изображений с кнопкой удаления */
.imageItem {
    position: relative;
    display: inline-block;
    /* margin: 8px; */
}

.deleteImageBtn {
    position: absolute;
    top: 10px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    border-radius: 50%;
    /* Если хотите, можно добавить немного округления */
}

/* При наведении на изображение показываем кнопку удаления */
.imageItem:hover .deleteImageBtn {
    opacity: 1;
    transform: scale(1.1);
    /* border: 1px solid #ffffff; */
}

/* Кнопка с крестиком */
.deleteImageBtn::before {
    content: '✕';
    /* Символ крестика */
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    user-select: none;
    pointer-events: none;
}

/* Эффект нажатия на кнопку */
.deleteImageBtn:active {
    transform: scale(0.9);
}

/* Когда кнопка неактивна, можно уменьшить её прозрачность */
.imageItem.toDelete .deleteImageBtn {
    color: #fff;
    background-color: #e02d2d;
}

/* Стиль для обертки изображений при удалении */
.toDelete {
    opacity: 0.5;
    border: 2px dashed red;
    /* можно поменять на любой другой стиль */
}


@media (min-width: 0px) and (max-width: 1299px) {}