.tableContainer {
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 755px;
}

.currentDay {
    background-color: #F5F6F8 !important;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999999999;
    box-shadow: 0 0 5px #E4E4EF;
}

.topDayBlock {
    width: 100%;
    height: 45px;
    border-left: 1px solid #E4E4EF;
    border-top: 1px solid #E4E4EF;
    border-bottom: 1px solid #E4E4EF;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}

.hotelTable th:last-child .topDayBlock {
    border-right: 1px solid #E4E4EF;
}

.hotelTable {
    border-collapse: collapse;
    width: 100%;
}

.hotelTable tbody th,
.hotelTable tbody tr>td {
    border: 1px solid #E4E4EF;
    background-color: #fff;
    padding: 10px;
    width: 45px;
    height: 45px;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 20px;
}

.hotelTable tbody tr>td td{
    border-left: 1px solid #E4E4EF;
    width: 45px;
    height: 45px;
}

.bookingCell {
    position: relative;
    padding: 0 !important;
}

.booking {
    background-color: #9FD923 !important;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    position: absolute;
    top: 0;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
}

.booking:hover{
    opacity: 1;
}

.booking_light {
    background-color: #E0D251 !important;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    position: absolute;
    top: 0;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

.booking_light:hover{
    opacity: 1;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 20px;
    border: 1px solid #E4E4EF;
    border-right: none;
}

.controls>div {
    display: flex;
    align-items: center;
}

.controls img {
    cursor: pointer;
}

.highlightedDay {
    background-color: #F5F6F8  !important; /* Цвет выделения для наведения */
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.formContainer input,
.formContainer button {
    padding: 10px;
    font-size: 14px;
}

.formContainer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #45a049;
}


@media (min-width: 0px) and (max-width: 1299px) {}