.section_searchAndFilter {
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */
}

.section_searchAndFilter_filter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.searchInput {
    width: 500px;
}

@media (min-width: 0px) and (max-width: 1499px) {
    .searchInput {
        width: 400px;
    }
}

@media (min-width: 0px) and (max-width: 1299px) {
    .legendInfoText {
        font-size: 11px;
    }

    .legendInfoColor {
        width: 15px;
        height: 15px;
    }

    .searchInput {
        width: 350px;
        font-size: 14px;
    }
}