 .section {
     width: 100%;
     min-width: 1000px;
     height: 100vh;
     display: flex;
     flex-direction: column;
    gap: 18px;
     padding: 30px;
    overflow: auto;
     position: relative;
 }

.section_searchAndFilter {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.mainSearch {
    width: 500px;
}

.searchActions {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

@media (max-width: 1499px) {
    .mainSearch {
        width: 420px;
    }
}