.section {
    width: calc(100% - var(--menu-width));
    min-width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.section_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.paginationNumber {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--menu-bg);
    border-radius: 5px;
    color: var(--menu-bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.paginationNumber:hover {
    background-color: #e0e0e0;
    color: var(--menu-bg);
}

.pagination .activePaginationNumber,
.pagination .activePaginationNumber a {
    background-color: var(--menu-bg) !important;
    color: #fff !important;
    border-radius: 5px;
}

@media (min-width: 0px) and (max-width: 1299px) {}