
.section_searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.section_searchAndFilter_filter{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.mainSearch {
    width: 500px;
}

@media (min-width: 0px) and (max-width: 1299px) {
    .mainSearch {
        width: 400px;
    }
}