.section {
  /* width: calc(100% - var(--menu-width)); */
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.titleHeader {
  display: flex;
  gap: 10px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.73px;
}

/* .tabList {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.tab {
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #E4E4EF;
  color: #545873;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.tab:hover {
  background-color: #E4E4EF;
  color: #545873;
  opacity: 1;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 0px) and (max-width: 1399px) {
  .tab {
    font-size: 14px;
  }
} */

.tabList {
  position: relative;
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  /* gap: 10px; */
  align-items: center;
}

.tabList::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--no-active);
  z-index: 1;
}

.tab {
  position: relative;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--no-active);
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
}

.tab:hover {
  color: var(--text);
}

.tab[aria-selected="true"] {
  color: var(--text);
  background-color: transparent;
}

.tab[aria-selected="true"]::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-blue);
  z-index: 2;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 0px) and (max-width: 1399px) {
  .tab {
    font-size: 14px;
  }
}