.section_top_title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    color: var(--text);
}

.section_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_top_elems {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section_top_elems_support {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.section_top_elems_notify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.section_top_elems_notify_red {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: var(--red);
    border-radius: 50%;
}

.section_top_elems_unread_red {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
}

.section_top_elems_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    color: var(--main-gray);
}

.section_top_elems_profile {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
}

.section_top_elems_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notify_dropdown {
    position: absolute;
    width: 440px;
    height: 600px;
    overflow: hidden;
    /* overflow-y: auto; */
    max-height: 500px;
    top: 90px;
    right: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* padding: 15px; */
    border-radius: 10px;
    z-index: 10;
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition: all ease-in-out 0.3s;
    /* scrollbar-width: none; */
}

/* .notify_dropdown::-webkit-scrollbar {
    display: none;
} */

.notify_dropdown.open {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.notify_dropdown.closed {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

@media (min-width: 0px) and (max-width: 1399px) {}