.section_searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_searchAndFilter_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.airlineAbout {
    padding: 40px;
    border-radius: 10px;
    background-color: var(--white);
    height: calc(100vh - 235px);
    overflow: scroll;
}

.airlineAbout_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #9E9E9E;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.w50 {
    width: 50%;
}

.airlineAbout_info__filters {
    display: flex;
    gap: 20px;
}

.airlineAbout_info__filters button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #54587380;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    color: #545873;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.airlineAbout_info__filters button:hover {
    background-color: #e4e4efbd;
    border: 1px solid transparent;
    transition: all ease-in-out 0.3s;
}

.activeButton {
    background-color: #E4E4EF !important;
    border: 1px solid transparent !important;
    transition: all ease-in-out 0.3s;
}


.airlineAbout_top_complete {
    display: flex;
    align-items: center;
    gap: 30px;
}

.airlineAbout_top_img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    overflow: hidden;
}

.airlineAbout_top_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.airlineAbout_top_title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.airlineAbout_top_title_name {
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    color: #545873;
}

.airlineAbout_top_title_desc {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #545873;
}

.airlineAbout_info {
    display: flex;
    gap: 80px;
    padding-top: 30px;
}

.airlineAbout_info_block {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
}

.airlineAbout_info_label {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #545873;
}

.airlineAbout_info_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #545873;
    gap: 40px;
}

.airlineAbout_info_item input {
    width: 400px;
}

@media (min-width: 0px) and (max-width: 1299px) {}