* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --menu-width: 345px;
    --blockWidth: 1300px;
    --menu-gray: #7f808a;
    --menu-bg: #353B55;
    --menu-item-bg: #303552;
    --white: #fff;
    --red: #C03B28;
    --main-gray: #545873;
    --text-gray: #9E9E9E;
    --hover-gray: #F5F6F8;
}

body {
    background-color: #F1F4FB;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
}

input, select{
    height: 40px;
    border: 1px solid var(--text-gray);
    outline: none;
    border-radius: 5px;
    font-family: Inter;
    padding: 0 10px;
}

input[type="file"] {
    border: none;
    padding: 0 !important;
    border-radius: 0;
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0057C3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0063DE;
}


.processing {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-gray);
}

.cancelled {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFB5B5;
}

.done {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9AF6CA;
}

.adopted {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #97C7FF;
}

.react-tabs__tab--selected {
    background-color: #E4E4EF;
    color: #545873;
    opacity: 1;
}