* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
    --menu-gray: #7f808a;
    --menu-bg: #353B55;
    --menu-item-bg: #303552;
    --white: #fff;
}

body {
    background-color: #F1F4FB;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
}